/* 1 */
.hr197-p3 {
    height: 28px;
    background-color: #CE3F46;
    margin: 10px 0;
    font-weight: bold;
}
.t-title-p3{
    text-align: left;
    color: #CE3F46;
    font-size: 38px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.div-t2-p3{
    text-align: left;
    font-size: 20px;

}
.t2-p3{
    text-align: left;
    color: #000000;
    font-size: 2.1cqb;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.t3-p3{
    text-align: left;
    color: #E0878B;
    font-size: 2.1cqb;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}




/* 2 */
.container-pagemain-p3 {
    margin: auto;
    height: 700px;
    width: 1178px;
    /* height: 100%; */
    /* width: 100%; */
    /* background-color: #613333; */
    padding: 0px;
}

.image-p3-tl {
    background-image: url('../../images/backp2.png');
    /* background-image: url('images/backp2.png'); */
    height: 70%;
    display: flow-root;
    /* justify-content: center; */
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;


}

.div-ct-p3-tl {
    background-color: #fff;
    height: 350px;
    width: 700px;

    /* max-width: 60%;
    min-height: 60%; */
    margin-top: 5%;
    margin-left: 10%;
    /* opacity: 0.92; */
    border-radius: 10%;


}

.div-t-p3-tl {
    height: 100%;
    width: 100%;
    padding: 40px;

}

.div-t1-p3-tl {
    color: #E0878B;
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: left;
}

.div153-p3 {
    padding: 10px;
    height: 100%;
    display: inline-block;
    /* align-items: center; */
    /* display: flex; */
    /* Sử dụng flexbox */
    flex-direction: column;
    /* Xếp các phần tử theo chiều dọc */
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;

}

.div-t2-p3-tl {
    color: #414141;
    font-size: 17px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    text-align: left;

}

.div-t3-p3-tl {
    color: #000;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    text-align: left;
    padding: 10px;


}

.div-t4-p3 {
    color: #E0878B;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    text-align: left;
}