.container-pagemain-p6 {
    padding: 0px;

    height: 100%;
    width: 70%;
    margin: auto;
}

.t-title-p6 {
    text-align: left;
    color: #000;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/* 2 */
.btn-row-p6 {
    width: 100%;
    background-color: #CE3F46;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    text-decoration: none;

}